@charset "UTF-8";

/* De Google Fonts - Selecionar Style - @import - entre os <style>*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url("../fontes/idroid.otf");
}


:root {
    
    --cor0: #c5ebd6; 
    --cor1: #83E1AD; 
    --cor2: #3DDC84; 
    --cor3: #2FA866; 
    --cor4: #1A5C37; 
    --cor5: #063d1e; 
    
    /*
    --cor0: #36D643;
    --cor1: #38D6BE;
    --cor2: #3cd584;
    --cor4: #3B8F82;
    --cor5: #368A3D;
    */

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursiva;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    color: var(--cor0);
}

a.externo::after {
    content: "↗️"
}



header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.260);
}

header > p {
    color: white;
    font-family: va(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-top: -20px;

    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.260);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
}

nav > a {
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
    font-weight: normal;
}

nav > a:hover {
    background-color: var(--cor3);
    color: black;
}

main {
    
    min-width: 240px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
 
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.418);
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


main > article > h1 {
    font-family: var(--fonte-android);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.404);
    color: var(--cor4);
    font-size: 1.5em;
    font-weight: normal;

}

main > article > h2 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    padding: 3px 8px;
}

main > article > p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.4em;
}

main a {
    font-weight: bold;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4)
}


main strong {
    color: var(--cor4);
    font-weight: bold;
    padding-left: 2px;

}

img {
    width: 100%;
}

img.imgpequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    position: relative;
    padding-bottom: 57.5%;
    margin-bottom: 15px;
}

div.video > iframe {
    position:absolute;
    top: 3%;
    left: 2%;
    width: 96%;
    height: 94%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.411);
}


aside > ul {
   /* list-style-type: \2714\00A0\00A0; */
   margin: 20px;
    columns: 2;
    list-style-position: inside;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.3em;
}




footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}